$body-font:'Roboto', sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: #ff1709;
$green: #005200;
$redwine: #9b242d;
$blue: #00979e;
$yellow: #ffb200;
$grey: #e4e4e4;
$lightgrey: rgb(219, 219, 219);
$darkgrey: rgb(182, 182, 182);
$bgd-color: #eee;
$gold: #A88B55;