.table-grey {
  background-color: $grey;
  font-weight: 300;
  text-align: justify;
  font-style: italic;
}

p.table-grey {
  margin: 2em -0.4cm;
  padding: 1.5em;
}

ul.table-grey {
  margin: 0;
  padding: 1em;
  li {
    margin-left: 1.5em;
    padding: 0;
  }
}